<nav>
  <div class="site-title">
    <a href="/"> Bingo </a>
    <!-- <p>A bingo in Express</p> -->
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
