<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>

   <%- include('./partials/nav.ejs') %>

    <div class="content not-found">
      <h2>Oopss!!! Content Not found</h2>
    </div>
  </body>
</html>
