<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About</h2>
      <p class="aboutP">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
        perspiciatis deleniti voluptatum eaque molestias ipsam a autem aut
        nostrum iure ut magni in, esse quod, ex culpa. Veritatis, deserunt odit!
      </p>
      <p class="aboutP">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
        perspiciatis deleniti voluptatum eaque molestias ipsam a autem aut
        nostrum iure ut magni in, esse quod, ex culpa. Veritatis, deserunt odit!
      </p>
      <p class="aboutP">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
        perspiciatis deleniti voluptatum eaque molestias ipsam a autem aut
        nostrum iure ut magni in, esse quod, ex culpa. Veritatis, deserunt odit!
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
